.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 214px;
  height: 200px;
  /* background-color: green; */
  margin-top: 200px;
}

